<h1><%= t('activerecord.title.take_method_detail.new') %></h1>

<% if @take_method_detail.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= pluralize(@take_method_detail.errors.count, t('errors.messages.can_not_create_because_have_any_error')) %></h2>
    <ul>
      <% @take_method_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @take_method_detail, local: true, url: create_or_update_root) do |f| %>
  <div>
    <%= f.label :style %>
    <%= f.text_field :style %>
  </div>

  <%= f.submit action_name_button %>
<% end %>

<%= link_to t('button.take_method_detail_index'), take_method_details_path %>
