<h1><%= t('activerecord.title.pharmacy.edit') %></h1>

<%= form_with(model: @pharmacy, local: true, url: pharmacy_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @pharmacy %>

  <div class="field">
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :normal_telephone_number %>
    <%= f.telephone_field :normal_telephone_number %>
  </div>

  <div class="field">
    <%= f.label :emergency_telephone_number %>
    <%= f.telephone_field :emergency_telephone_number %>
  </div>

  <div>
    <%= f.fields_for :activities do |form| %>
      <div class="field">
        <%= form.label :day_of_the_week, form.object.day_of_the_week_i18n %>
      </div>

      <div class="field">
        <%= form.label :business %>
        <%= form.select :business, Activity.businesses_i18n.invert %>
      </div>

      <div class="field">
        <%= form.label :opening_time %>
        <%= form.time_field :opening_time %>
      </div>

      <div class="field">
        <%= form.label :closing_time %>
        <%= form.time_field :closing_time %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <%= f.submit t('devise.registrations.edit.update') %><br>
  <%= link_to t('button.pharmacy_show'), @pharmacy %>
<% end %>
