<h1><%= t('activerecord.title.pharmacy.show') %></h1>

<p>
  <%= t('activerecord.attributes.pharmacy.name') %>:<%= @pharmacy.name %><br>
  <%= t('activerecord.attributes.pharmacy.email') %>:<%= @pharmacy.email %><br>
  <%= t('activerecord.attributes.pharmacy.postcode') %>:<%= @pharmacy.postcode %><br>
  <%= t('activerecord.attributes.pharmacy.address') %>:<%= @pharmacy.address %><br>
  <%= t('activerecord.attributes.pharmacy.normal_telephone_number') %>:<%= @pharmacy.normal_telephone_number %><br>
  <%= t('activerecord.attributes.pharmacy.emergency_telephone_number') %>:<%= @pharmacy.emergency_telephone_number %><br>
  <%= t('activerecord.models.activity') %>:<br>
  <% @pharmacy.activities.each do |activity| %>
    <%= activity.day_of_the_week_i18n %>
    <%= activity.business_i18n %>
    <%= from_start_to_finish(activity) %><br>
  <% end %>
  <%= t('activerecord.attributes.pharmacy.note') %>:<%= @pharmacy.note %><br>
</p>

<% if @pharmacy == current_pharmacy %>
  <%= link_to I18n.t('button.pharmacy_edit'), edit_pharmacy_path(@pharmacy) %><br>
  <%= link_to I18n.t('button.destroy'), @pharmacy, method: :delete, data: { confirm: I18n.t('devise.registrations.edit.are_you_sure') } %>
<% end %>