<h1><%= t('activerecord.title.medicine.index') %></h1>
<%= link_to t('button.medicine_new'), new_medicine_path %>
<hr>

<% @medicines.each do |medicine| %>
  <div>
    <%= medicine.name %>:<%= "#{medicine.standard}#{medicine.unit}" %><br>
    <%= t('activerecord.attributes.medicine.permission') %>:<%= medicine.permission_i18n %><br>
  </div>
  <hr>
<% end %>
