<h2><%= t('activerecord.title.user.search') %></h2>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %><br>
  <%= f.search_field :name_cont %><br>

  <%= f.label :birthday_cont %><br>
  <%= f.search_field :birthday_cont %><br>

  <%= f.label :sex_eq %><br>
  <%= f.select :sex_eq, @gender_choices %><br>

  <%= f.label :telephone_number_eq %><br>
  <%= f.search_field :telephone_number_eq %><br>

  <%= f.label :email_cont %><br>
  <%= f.search_field :email_cont %><br>

  <%= f.submit %>
<% end %>

<h2><%= t('activerecord.title.user.index') %></h2>
<% if @Users %>
  <%= "#{@Users.count}件"  %><br>
  <% @Users.each do |user| %>
    <%= link_to "#{user.name}", user %>
    <%= user.birthday %>
    <%= user.sex_i18n %>
    <%= user.address %>
    <br>
  <% end %>
<% else %>
  <h4><%= t('message.narrow_down') %></h4>
<% end %>
