<h1><%= t('activerecord.title.user.show') %></h1>

<p>
  <%= t('activerecord.attributes.user.name') %>:<%= @user.name %><br>
  <%= t('activerecord.attributes.user.email') %>:<%= @user.email %><br>
  <%= t('activerecord.attributes.user.postcode') %>:<%= @user.postcode %><br>
  <%= t('activerecord.attributes.user.address') %>:<%= @user.address %><br>
  <%= t('activerecord.attributes.user.telephone_number') %>:<%= @user.telephone_number %><br>
  <% if @user.birthday.present? %>
    <%= t('activerecord.attributes.user.birthday') %>:<%= l(@user.birthday, format: :long) %><br>
  <% end %>
  <%= t('activerecord.attributes.user.sex') %>:<%= @user.sex_i18n %><br>
  <%= t('activerecord.attributes.user.allergy') %>:<%= @user.allergy %><br>
  <%= t('activerecord.attributes.user.sick') %>:<%= @user.sick %><br>
  <%= t('activerecord.attributes.user.operation') %>:<%= @user.operation %><br>
  <%= t('activerecord.attributes.user.note') %>:<%= @user.note %><br>
</p>

<%= user_button_in_users_show(@user) %>
<%= pharmacy_button_in_users_show(@user) %>
