<h2><%= t('activerecord.title.medicine_notebook_record.notification') %></h2>

<%= t('activerecord.attributes.user.side_effect') %>:<%= user.side_effect %><br>
<%= t('activerecord.attributes.user.allergy') %>:<%= user.allergy %><br>
<%= t('activerecord.attributes.user.sick') %>:<%= user.sick %><br>
<%= t('activerecord.attributes.user.operation') %>:<%= user.operation %><br>
<%= t('activerecord.attributes.user.note') %>:<%= user.note %><br>
