  
<% if medicine_notebook_record.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= pluralize(medicine_notebook_record.errors.count, t('errors.messages.can_not_create_because_have_any_error')) %></h2>
    <ul>
      <% medicine_notebook_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- parent -->
<%= form_with(model: medicine_notebook_record, local: true, url: create_or_update_root ) do |f| %>
  <div>
    <%= f.label :date_of_issue %>
    <%= f.date_field :date_of_issue %>
  </div>

  <div>
    <%= f.label :date_of_dispensing %>
    <%= f.date_field :date_of_dispensing %>
  </div>

  <div>
    <%= f.label :medical_institution_name %>
    <%= f.text_field :medical_institution_name %>
  </div>

  <div>
    <%= f.label :doctor_name %>
    <%= f.text_field :doctor_name %>
  </div>

  <div>
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <!-- child -->
    <div>
      <%= f.fields_for :prescription_details do |f| %>
        <div>
          <%= f.label :prescription_days %>
          <%= f.text_field :prescription_days %>
        </div>

        <div>
          <%= f.label :times %>
          <%= f.text_field :times %>
        </div>

        <div>
          <%= f.label :daily_dose %>
          <%= f.text_field :daily_dose %>
        </div>

        <div>
          <%= f.label :number_of_dose %>
          <%= f.text_field :number_of_dose %>
        </div>
      <% end %>
    </div>
  <!-- child -->

  <%= f.submit action_name_button %>
<% end %>
<!-- parent -->

<%= link_to t('button.medicine_notebook_record_index'), user_medicine_notebook_records_path(user) %>