<div class="nested-fields">
  <!-- grandson -->
    <div id='medicine_record_relations'>
      <%= f.fields_for :medicine_record_relations do |f| %>
        <%= render 'medicine_record_relation_fields', f: f %>
      <% end %>

      <div class="links">
        <%= link_to_add_association "孫1を追加", f, :medicine_record_relations %>
      </div>
    </div>
  <!-- grandson -->
  <div>
    <%= f.label :prescription_days %>
    <%= f.text_field :prescription_days %>
  </div>

  <div>
    <%= f.label :times %>
    <%= f.text_field :times %>
  </div>

  <div>
    <%= f.label :daily_dose %>
    <%= f.text_field :daily_dose %>
  </div>

  <div>
    <%= f.label :number_of_dose %>
    <%= f.text_field :number_of_dose %>
  </div>

  <%= link_to_remove_association "子供を削除", f %>
</div>
