<h1><%= t('activerecord.title.medicine_notebook_record.index', user_name: @user.name) %></h1>

<%= link_to t('button.transition_from_medicine_notebook_record_to_users_show', user_name: @user.name), @user %>
<br>
<%= pharmacy_button_in_medicine_notebook_records_index(@user) %>
<%= nothing_medicine_notebook_record(@medicine_notebook_records) %>

<% @medicine_notebook_records.each do |record| %>
  <div>
    <%= t('activerecord.attributes.medicine_notebook_record.index.date_of_issue', date_of_issue: record.date_of_issue) %><br>
    <%= t('activerecord.attributes.medicine_notebook_record.index.medical_institution_name', medical_institution_name: record.medical_institution_name) %><br>
    <%= t('activerecord.attributes.medicine_notebook_record.index.note', note: record.note) %><br>
    <%= link_to t('button.medicine_notebook_record_show'), user_medicine_notebook_record_path(@user, record.id) %><br>
    <br>
  </div>
<% end %>
