<h1><%= t('activerecord.title.medicine_notebook_record.show', user_name: @user.name ) %></h1>

<%= render partial: "shared/record_summary", locals: { medicine_notebook_record: @medicine_notebook_record } %>

<% if @medicine_notebook_record.prescription_details.present? %>
  <% index = 1 %>
  <% @medicine_notebook_record.prescription_details.each do |detail| %> 
    <% detail.connect_medicines.each do |medicine| %>
        <%= t('activerecord.attributes.prescription_detail.show.numbering', index: index ) %> <%= link_to "#{medicine.name}#{medicine.standard}#{medicine.unit}", edit_user_medicine_notebook_record_prescription_detail_path(@user, @medicine_notebook_record, detail) %><br>
        <%= t('activerecord.attributes.prescription_detail.show.arranged_format', days: detail.prescription_days, times: detail.times, daily_dose: detail.daily_dose, number_of_dose: detail.number_of_dose) %><br>
      <% index +=1 %>
    <% end %>
  <% end %>
<% end %>

<br>
<%= pharmacy_button_in_medicine_notebook_records_show(@user,@medicine_notebook_record) %>

<%= render partial: "shared/notification", locals: { user: @user } %>

<br>
<%= link_to t('button.medicine_notebook_record_index'), user_medicine_notebook_records_path(@user) %><br>
