<h1><%= t('activerecord.title.medicine_notebook_record.show', user_name: @user.name ) %></h1>

<%= t('activerecord.attributes.pharmacy.name') %>:<%= @medicine_notebook_record.pharmacy.name %><br>
<%= t('activerecord.attributes.medicine_notebook_record.date_of_issue') %>:<%= l(@medicine_notebook_record.date_of_issue, format: :long) %><br>
<%= t('activerecord.attributes.medicine_notebook_record.date_of_dispensing') %>:<%= l(@medicine_notebook_record.date_of_dispensing, format: :long) %><br>
<%= t('activerecord.attributes.medicine_notebook_record.medical_institution_name') %>:<%= @medicine_notebook_record.medical_institution_name %><br>
<%= t('activerecord.attributes.medicine_notebook_record.doctor_name') %>:<%= @medicine_notebook_record.doctor_name %><br>
<%= t('activerecord.attributes.medicine_notebook_record.note') %>:<%= @medicine_notebook_record.note %><br>
<br>
<%= link_to t('helpers.submit.update'), edit_user_medicine_notebook_record_path(@user,@medicine_notebook_record) %><br>
<%= link_to t('helpers.submit.destroy'), user_medicine_notebook_record_path(@user,@medicine_notebook_record), method: :delete, data: { confirm: I18n.t('message.medicine_notebook_record.confirmation_of_destruction') } %><br>

<%= render partial: "shared/notification", locals: { user: @user } %>

<br>
<%= link_to t('button.medicine_notebook_record_index'), user_medicine_notebook_records_path(@user) %><br>
