<!DOCTYPE html>
<html>
  <head>
    <title>Connect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if Rails.env == "development" %>
      <%= params %><br>
      <%= session.keys %><br>
    <% end %>

    <!-- header -->
    <header style="text-align: center;background-color: red; height: 50px;">
      <%= link_to t('app.title'), root_path %>
      <%= welcome_model %>
      <%= user_sign_in_or_sign_out_button %>
      <%= pharmacy_sign_in_or_sign_out_button %>
      <%= user_sign_up_or_show_button %>
      <%= pharmacy_sign_up_or_show_button %>
      <%= user_search_button %>
      <%= link_to t('activerecord.title.pharmacy.search'), pharmacies_path %>
    </header>
    <!-- header -->

    <!-- sample_login -->
    <div style="text-align: center; background-color: orange;">
      <%= render partial: "shared/sample_login" %>
    </div>
    <!-- sample_login -->
    
    <!-- alert_message -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- alert_message -->

    <!-- render -->
    <%= yield %>
    <!-- render -->

    <!-- footer -->
    <footer style="background-color: pink; height: 50px;">フッターの位置</fotter>
    <!-- footer -->
  </body>
</html>
