<!DOCTYPE html>
<html>
  <head>
    <title>Connect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <header style="text-align: center;background-color: red; height: 50px;">
      webお薬手帳
      <%= sign_in_or_sign_out_button %>
      <%= sign_up_button %>
    </header>
    <!-- header -->

    <!-- alert_message -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- alert_message -->

    <!-- sample_login -->
    <div style="text-align: center; background-color: orange;">サンプルログインボタンいろいろ</div>
    <!-- sample_login -->

    <!-- render -->
    <%= yield %>
    <!-- render -->

    <!-- footer -->
    <footer style="background-color: pink; height: 50px;">フッターの位置</fotter>
    <!-- footer -->
  </body>
</html>
